<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TURISMO ES</title>
</head>
<body>
    <h1>Lista de Servicios nuevos</h1>
    <ul>
        {% for servicio in servicios %}
            <li>
                <p>{{ servicio.nombre }}</p>
                <p>{{ servicio.precio }}</p>
                <p>{{ servicio.descripcion_lugar }}</p>
                <img src="{{ servicio.foto.url }}" alt="Foto de {{ servicio.nombre }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>